PORT=4000

MONGO_URI=mongodb+srv://Shrestha:root@cluster0.0rnbbez.mongodb.net/lucknow_meal_cart?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=lucknowmealcart

MODE=development

FRONTEND_URL=http://localhost:5173


